{
  "printWidth": 80,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
